
/*==================================css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

input, textarea, select {
    *font-size: 100%
}

a {
    text-decoration: none;
    color: #fff;
}

a:focus {
    outline: none;
}

body {
    position: relative;
    font-family: '\5fae\8f6f\96c5\9ed1', Tahoma;
    color: #000;

}

.clearfix {
    #zoom: 1
}

.clearfix:after {
    content: '.';
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;
}

.ell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.hid {
    display: none;
    font-size: 0;
    line-height: 0;
}

.clear {
    clear: both;
}
.center{
    width: 1000px; margin: 0 auto; position: relative;height: 100%;
}

/*=======================侧边栏*/


/*==========================section1*/

/*.section1{background:url("../images/overlay-pattern.png") ;width: 100%;height: 100vh}*/